/*common*/
.hidden {
    display: none !important;
}

html {
    font-family: sans-serif;
    min-height: 100%;
}

.body-white {
    background-color: #fff;
    height: 100%;
}

.body-white > body {
    background: #fff;
    height: 100%;
    font-size: 14px;
    color: #666;
}

body {
    min-width: 20em;
    min-height: 100%;
    width: 100%;
    font: 14px/1.5 "Helvetica Neue", "Microsoft Yahei", sans-serif;
    margin: 0;
}

.xs-header, .xs-dish-container, .xs-dish-footer, .xs-menu-cart, .xs-dish-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.xs-header, .xs-menu-cart, .xs-menu-cart, .xs-dish-control {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.xs-header {
    position: relative;
    z-index: 20;
    height: 40px;
    background: #3199e8;
    color: #fff;
    line-height: 44px;
    font-size: 1.05rem;
}

.xs-header-title.flex, .xs-dish-control {
    -webit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.xs-header, .xs-dish-container, .xs-dish-footer, .xs-menu-cart {
    -webit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.xs-header-back {
    width: 67px;
    height: 40px;
    display: block;
    position: relative;
    left: 3.5%;
}

.xs-header-back span {
    display: block;
    width: 9px;
    height: 44px;
    float: left;
    padding-right: 3px;
    background: url(../images/icon_return.png) no-repeat center left;
    background-size: 0.475rem auto;
}

.xs-header-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 65px;
    right: 65px;
    margin: 0;
    text-align: center;
    color: #fff;
}

.xs-rst-menu {
    position: absolute;
    height: 100%;
    border-right: 1px solid #ddd;
    background: #f7f7f7;
    width: 25%;
    box-sizing: border-box;
}

.xs-rst-menu ul {
    padding-bottom: 80px;
}

.xs-rst-menu .xs-rst-menu-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 5px;
    display: block;
}

.xs-rst-menu .xs-rst-menu-item.active {
    margin-right: -1px;
    background: #fff;
    border-right-color: #fff;
}

.xs-rst-menu .xs-rst-menu-tip {
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    background: #3199e8;
    font-size: 12px;
    margin-right: 2px;
}

.xs-rst-dish-list {
    position: absolute;
    left: 25%;
    height: 100%;
    width: 75%;
    overflow: hidden;
}

.xs-rst-dish-list section {
    padding-bottom: 80px;
}

.xs-dish-container {
    padding: 10px 8px;
    background: #fff;
    border-top: 1px solid #eee;
}

.xs-dish-container:nth-of-type(1) {
    border-top: none;
}

.xs-dish-container .xs-dish-body {
    -webkit-flex: 1;
    flex: 1;
    margin-left: 7px;
}

.xs-dish-container .xs-dish-body .xs-dish-name {
    color: #333;
    font-size: 15px;
    line-height: 15px;
}

.xs-dish-container .xs-dish-body .xs-dish-price {
    color: #ff6000;
    font-size: 18px;
}

.xs-dish-container .xs-dish-body .xs-dish-control {
    height: 25px;
    width: 70px;
}

.xs-dish-container .xs-dish-body .xs-dish-control .btn {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.xs-dish-container .xs-dish-body .xs-dish-control .xs-dish-decrease {
    background: url(../images/icon_reduce.png);
    background-size: 25px;
}

.xs-dish-container .xs-dish-body .xs-dish-control .xs-dish-add {
    background: url(../images/icon_add.png);
    background-size: 25px;
}

.xs-dish-container .xs-dish-body .xs-dish-control .xs-dish-count {
    height: 16px;
    margin: 0 3px;
    color: #999;
    font-size: 0.875rem;
}

.xs-menu-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    padding: 0 10px;
    background: #241818;
    line-height: 1;
}

.xs-menu-cart .xs-menu-cart-summary {
    color: #fff;
    font-size: 1.05rem;
    width: 120px;
}

.xs-menu-cart .xs-menu-cart-summary .cart-bg {
    display: inline-block;
    width: 15px;
    height: 30px;
    float: left;
    padding: 0 0 0 10px;
    background: url(../images/icon_cart.png) no-repeat center left;
    background-size: 22px;
}

.xs-menu-cart .xs-menu-cart-summary .cart-count {
    display: inline-block;
    float: left;
    line-height: 29px;
}

.xs-menu-cart .xs-menu-cart-summary .cart-price {
    display: inline-block;
    float: left;
    line-height: 29px;
    padding-left: 10px;
}

.xs-menu-cart .xs-menu-cart-summary .cart-price:before {
    content: '¥';
    margin: 0 0.1rem 0 0;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
}

.xs-menu-cart .xs-menu-checkout {
    padding: 6px 18px;
    border-radius: 2px;
    background: #4cd964;
    color: #fff;
}

/*login begin*/
.xs-header-helper {
    display: block;
    color: #fff;
    padding: 0 10px 0 0;
}

.logreg-form {
    margin: 10px;
}

.logreg-inputs {
    margin: 0 -10px;
    padding: 10px 10px 0;
    border-top: 10px #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.input-group {
    margin-bottom: 10px;
    position: relative;
}

input.ui-input, .input-group .ui-input {
    display: block;
    margin-bottom: 0;
    width: 100%;
    padding: 8px 4px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-group.ui-error .input-tip {
    max-height: 10em;
    min-height: 1.8em;
}

button {
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    background: #3199e8;
    border: none;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: color .4s;
    transition: color .4s;
}

/*login end*/

